.crossline {
  width: 90%;
  height: 1px;
  margin: 30px;
  background-color: gray;
}

.text-styles {
  position: absolute;
  right: 0;
  width: 300px;
  font-size: 20px;
}

.input-styles {
  position: absolute;
  left: 0;
  width: 400px;
  height: 25px;
  margin: 0px 3px;
  border-bottom: 1px solid #000000;
  font-size: 20px;
  text-align: center;
  &:focus {
    outline: 0px;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;

  .title {
    h1 {
      margin: 50px 0px;
      font-size: 50px;
      font-weight: 700;
    }

    h2 {
      font-size: 20px;
      text-align: center;
      p {
        line-height: 2rem;
      }
    }

    .participant {
      margin: 50px;
      font-size: 16px;
      h3 {
        padding: 8px;
      }
    }
  }

  .inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: 20px;
      font-size: 25px;
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;

      .inner-wrapper {
        position: relative;
        margin: 30px;
      }
    }

    #submit-inputs {
      margin: 50px;
      padding: 6px 12px;
      font-size: 20px;
      border: 2px solid #000000;
      border-radius: 5px;
      transition: 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  section.code {
    margin: 10px;
  }
}
